/node_modules
/public/hot
/public/storage
/public/images/*
/storage/*.key
/vendor
/data
/nginx/logs/*
.env
.env.backup
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.DS_Store
